@font-face {
    font-family:Impact;
    src:url(impact.ttf)
  }

  body,html {
    margin:0;
    padding:0;
    height:100%;
    font-family:'Impact';
    overflow:hidden
  }

  .container {
    min-height:100%;
    display:flex;
    flex-direction:column;
    background-color:#000;
    color:#fff
  }

  #player-selection {
    display:none;
    margin:1%;
    box-sizing:border-box;
    position:relative
  }

  #game {
    display:block;
    margin:1%;
    box-sizing:border-box;
    position:relative
  }

  #board-container {
    max-height:85%;
    box-sizing:border-box;
    position:relative
  }

  #board {
    display:grid;
    grid-template-columns:repeat(35,1fr);
    grid-template-rows:repeat(16,1fr);
    grid-gap:.2vw;
    height:100%;
    width:100%
  }

  .square {
    position:relative;
    width:calc(100% - 0.2vw);
    height:calc(100% - 0.2vw);
    padding-bottom:calc(100% - 0.2vw);
    cursor:crosshair;
    padding-left:0;
    padding-right:0;
    box-sizing:border-box
  }

  .rectangle {
    position:relative;
    width:200%;
    padding-bottom:85%;
    cursor:pointer;
    border:.2vw solid #f0f8ff;
    box-sizing:border-box
  }

  .circle {
    position:relative;
    width:100%;
    height:100%;
    border-radius:50%;
    border:.2vw solid #f0f8ff;
    box-sizing:border-box
  }

  .number1,.number2,.letter1,.letter2 {
    position:absolute;
    font-size:1vw
  }

  .number1 {
    top:-40%;
    left:50%;
    transform:translateX(-50%)
  }

  .number2 {
    bottom:-40%;
    left:50%;
    transform:translateX(-50%)
  }

  .letter1 {
    top:50%;
    left:-25%;
    transform:translateY(-50%)
  }

  .letter2 {
    top:50%;
    right:-25%;
    transform:translateY(-50%)
  }

  .info {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#f0f8ff;
    position:absolute;
    font-size:2vw;
    text-align:center;
    justify-content:center
  }

  h1 {
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    padding:.65vw 1vw;
    font-size:12vw
  }

  h2 {
    position:absolute;
    top:12vw;
    left:calc(50% + 3.5vw);
    transform:translateX(-50%);
    padding:.65vw 1vw;
    font-size:8.5vw
  }

  h3 {
    position:absolute;
    top:12vw;
    left:34%;
    transform:translateX(-50%);
    padding:.65vw 1vw;
    font-size:7.5vw;
    color:#D4D4D4;
    transform:scaleY(0.55) rotate(270deg)
  }

  .triangle {
    position:absolute;
    border-left:1.1vw solid transparent;
    border-right:1.1vw solid transparent;
    border-bottom:2.15vw solid #fff;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
  }

  .triangleColor {
    content:'';
    position:absolute;
    width:2.15vw;
    height:2.15vw;
    background:#fff;
    clip-path:polygon(0% 100%,50% 0%,100% 100%);
    transform:translateX(-50%) translateY(2.75%) scale(0.8)
  }

  button {
    position:absolute;
    top:29vw;
    left:50vw;
    transform:translateX(-50%);
    padding:.65vw 1vw;
    font-size:1.2vw;
    background-color:#333;
    border:none;
    border-radius:.3vw;
    cursor:pointer;
    z-index:100
  }

  .button1 {
    position:absolute;
    top:0
  }

  select,option,input {
    background-color:#333;
    color:#000;
    border:none;
    border-radius:.3vw;
    padding:.2vw 1vw
  }

  input::placeholder {
    color:#000
  }

  select:hover,option:hover,input:hover,button:hover {
    background-color:#444
  }

  .player-input input[type="text"] {
    position:relative;
    width:10vw;
    height:2.1vw;
    font-size:1.2vw;
    left:43vw;
  }

  .color-dropdown {
    position:relative;
    top:.3vw;
    height:2.5vw;
    width:2.5vw;
    font-size:2vw;
    padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    text-align:center;
    justify-content:center;
    left:43.25vw
  }

  #player-count {
    position:absolute;
    top:29vw;
    left:50vw;
    transform:translateX(-50%);
    padding:.65vw 1vw;
    font-size:1.2vw;
    background-color:#333;
    border:none;
    border-radius:.3vw;
    cursor:pointer;
    z-index:100;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    text-align:center;
    display:inline-block
  }

  #shape {
    display:none;
    position:fixed;
    width:8.7vw;
    height:8.7vw;
    border:.35vw solid #fff;
    border-radius:.5vw;
    z-index:100;
    box-sizing:border-box;
    pointer-events:none
  }

  #shape::before {
    content:'';
    position:absolute;
    top:2.6vw;
    left:2.6vw;
    right:2.6vw;
    bottom:2.6vw;
    border:.35vw solid #fff;
    border-radius:.5vw
  }

  .confetti {
    position:absolute;
    width:10px;
    height:10px;
    background-color:red;
    border-radius:50%;
    pointer-events:none;
    animation:confetti-fall linear infinite
  }

  @keyframes confetti-fall {
    from {
    transform:translateY(-100vh);
    opacity:1
    } to {
    transform:translateY(0vh);
    opacity:0
    }
  }

  .color-card {
    width:100%;
    height:100%;
    border:.2vw solid #fff;
    border-radius:.5vw;
    box-sizing:border-box
  }